:root {
    --color-primary: #000000;
    --color-secondary:rgba(0,0,0,.54);
    --color-primary-action: #6200ee;
    --card-color: #ffffff;
}

body {
    background-color: #f7f7f7;
    padding: 1rem;
    min-height: 100vh;
    max-width: 960px;
    margin: auto;
    display: grid;
    /* max-width: 100%; */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    justify-items: center;
    align-items: center;
}

.primary-color {
    color:var(--color-primary);
}

.secondary-color {
    color: var(--color-secondary);
}

.card-color {
    color: var(--card-color);
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    height: max-content;
    background-color: var(--card-color);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}

.card-header, .card-main, .card-footer {
    padding: 1rem;
}

.card-rich-media {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.card.header-over-image .card-rich-media {
    position: relative;
    z-index: 1;
}

.card.header-over-image .card-rich-media::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background: rgb(0,0,0,0.3);
    width: 100%;
    height: 100%;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}

.card.card-horizontal .card-rich-media{
    flex-direction: row;
    /* display: flex; */
    max-width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.card.card-horizontal .card-rich-media  img{
    flex: 1;
    width: 25%;
    height: 100%;
}

.card.card-horizontal .card-rich-media .card-header {
    flex: 2;
    width: 75%;
}

.card.card-horizontal .card-main {
    display: none;
}

.card-rich-media  img {
    border-top-left-radius: 0.5rem ;
    border-top-right-radius: 0.5rem;
}

.card-wt-header .card-rich-media, 
.card-wt-header .card-rich-media > img  {
    border-radius:  0 !important;
    -webkit-border-radius:  0 !important;
    -moz-border-radius:  0 !important;
    -ms-border-radius:  0 !important;
    -o-border-radius:  0 !important;
}

.card.header-above-image img,
.card.header-above-image .card-rich-media {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.card.header-over-image .card-header {
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.card.header-above-image .card-header {
    order: -1;
    border-radius: 0.5rem 0.5rem 0 0;
    -webkit-border-radius: 0.5rem 0.5rem 0 0;
    -moz-border-radius: 0.5rem 0.5rem 0 0;
    -ms-border-radius: 0.5rem 0.5rem 0 0;
    -o-border-radius: 0.5rem 0.5rem 0 0;
}

.card-primary-title, .card-title {
    font-size: 1.15rem;
    margin-bottom: 0.5rem;
}

.card-secondary-title {
    font-size: 0.95rem;
}

.card:hover .card-main, 
.card:hover .card-header {
    background-color: rgba(0,0,0,.07);
}

.header-above-image:hover .card-header {
    background-color: #fff;
}

.card-main {
    font-size: 0.85rem;
}

.card-footer {
    display: flex;
}

.card.action-buttons .card-footer .icon-action {
    display: none;
}

.card.action-icons .card-footer .button-action {
    display: none;
}

.btn {
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    font-size: 0.85rem;
    font-weight: 550;
    padding: 0.5rem;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}


.btn-primary-action {
    color: var(--color-primary-action);
}

.btn-primary-action:hover {
    background-color: rgba(98, 0, 238, 0.09);
}

.btn-secondary-action {
    color: var(--color-secondary);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.btn.icon-action  i{
    width: 15px;
    height: 15px;
}

.btn.icon-action:hover {
    background-color: rgba(0,0,0,.09) !important;
}

@media screen and (max-width: 500px) {
    body {
        padding: 2rem 0.5rem;
    }
}